.gcloudignore
# If you would like to upload your .git directory, .gitignore file or files
# from your .gitignore file, remove the corresponding line
# below:

# Node.js dependencies:
.git
.gitignore

node_modules

# Editor
.idea
.vscode

# Next.js source code
components
containers
context
pages
redux
service
shared
style
styled