h1,
h2,
h3,
h4,
h5,
h6,
a,
p,
li,
input,
textarea,
span,
div,
html,
body,
html a {
  font-family: "Raleway", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
  margin-bottom: 0;
}

* {
  font-family: "Raleway", sans-serif;
  /* Raleway font number issue */
  font-variant-numeric: lining-nums;
  -moz-font-feature-settings: "lnum" 1;
  -moz-font-feature-settings: "lnum=1";
  -o-font-feature-settings: "lnum" 1;
  -webkit-font-feature-settings: "lnum" 1;
  font-feature-settings: "lnum" 1;
}

p {
  margin-bottom: 0;
}

html ul {
  -webkit-padding-start: 0px;
  list-style: none;
  margin-bottom: 0;
}

.scrollbar-track-y,
.scrollbar-thumb-y {
  width: 5px !important;
}

.scrollbar-track-x,
.scrollbar-thumb-x {
  height: 5px !important;
}

.scrollbar-thumb {
  border-radius: 0 !important;
}

.ant-popover-placement-bottom > .ant-popover-content > .ant-popover-arrow:after,
.ant-popover-placement-bottomLeft
  > .ant-popover-content
  > .ant-popover-arrow:after,
.ant-popover-placement-bottomRight
  > .ant-popover-content
  > .ant-popover-arrow:after,
.ant-popover-placement-top > .ant-popover-content > .ant-popover-arrow:after,
.ant-popover-placement-topLeft
  > .ant-popover-content
  > .ant-popover-arrow:after,
.ant-popover-placement-topRight
  > .ant-popover-content
  > .ant-popover-arrow:after {
  left: 0;
  margin-left: -4px;
}

/********** Add Your Global RTL CSS Here **********/
/* Popover */
html[dir="rtl"] .ant-popover {
  text-align: right;
}

/* Ecommerce Card */
html[dir="rtl"] .isoCardInfoForm .ant-input {
  text-align: right;
}

/* Modal */
html[dir="rtl"] .has-success.has-feedback:after,
html[dir="rtl"] .has-warning.has-feedback:after,
html[dir="rtl"] .has-error.has-feedback:after,
html[dir="rtl"] .is-validating.has-feedback:after {
  left: 0;
  right: auto;
}

html[dir="rtl"] .ant-modal-close {
  right: inherit;
  left: 0;
}

html[dir="rtl"] .ant-modal-footer {
  text-align: left;
}

html[dir="rtl"] .ant-modal-footer button + button {
  margin-left: 0;
  margin-right: 8px;
}

html[dir="rtl"] .ant-confirm-body .ant-confirm-content {
  margin-right: 42px;
}

html[dir="rtl"] .ant-btn > .anticon + span,
html[dir="rtl"] .ant-btn > span + .anticon {
  margin-right: 0.5em;
}

html[dir="rtl"] .ant-btn-loading span {
  margin-left: 0;
  margin-right: 0.5em;
}

html[dir="rtl"]
  .ant-btn.ant-btn-loading:not(.ant-btn-circle):not(.ant-btn-circle-outline) {
  padding-left: 25px;
  padding-right: 29px;
}

html[dir="rtl"]
  .ant-btn.ant-btn-loading:not(.ant-btn-circle):not(.ant-btn-circle-outline)
  .anticon {
  margin-right: -14px;
  margin-left: 0;
}

/* Confirm */
html[dir="rtl"] .ant-modal.ant-confirm .ant-confirm-body > .anticon {
  margin-left: 16px;
  margin-right: 0;
  float: right;
}

html[dir="rtl"] .ant-modal.ant-confirm .ant-confirm-btns {
  float: left;
}

html[dir="rtl"] .ant-modal.ant-confirm .ant-confirm-btns button + button {
  margin-right: 10px;
  margin-left: 0;
}

/* Message */
html[dir="rtl"] .ant-message .anticon {
  margin-left: 8px;
  margin-right: 0;
}

/* Pop Confirm */
html[dir="rtl"] .ant-popover-message-title {
  padding-right: 20px;
  padding-left: 0;
}

html[dir="rtl"] .ant-popover-buttons {
  text-align: left;
}

/* Notification */
html[dir="rtl"]
  .ant-notification-notice-closable
  .ant-notification-notice-message {
  padding-left: 24px;
  padding-right: 0;
}

html[dir="rtl"]
  .ant-notification-notice-with-icon
  .ant-notification-notice-message,
html[dir="rtl"]
  .ant-notification-notice-with-icon
  .ant-notification-notice-description {
  margin-right: 48px;
}

html[dir="rtl"] .ant-notification-notice-close {
  right: auto;
  left: 16px;
}

html[dir="rtl"] .ant-notification-notice-with-icon {
  left: 0;
}

/* Dropzone */
html[dir="rtl"] .dz-hidden-input {
  display: none;
}

.ant-form-item-children-icon {
  display: none;
}

/* Navbar */
.nav-logo img {
  max-width: 240px;
  width: 100%;
}
.admin-logo img {
  max-width: 240px;
  width: 100%;
  padding: 0 30px;
}

.text-center {
  text-align: center;
}

.border-rounded {
  border-radius: 10px !important;
}
.ant-btn {
  white-space: normal;
  word-wrap: break-word;
}

.ant-btn-secondary {
  padding: 8px 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  background-color: transparent;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 16px;
  color: #0071aa;
  text-align: center;
  border: 2px solid #e8c36a;
  border-radius: 4px;
}

.ant-btn-secondary:hover,
.ant-btn-secondary:active,
.ant-btn-secondary:focus {
  color: white;
  background-color: #e8c36a !important;
  border: 2px solid #e8c36a;
  transition: 0.5s;
  line-height: 1.5;
}

.btn-primary {
  color: #ffffff;
  height: 40px;
  background: transparent;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 16px;
  border: 2px solid #e8c36a;
  border-radius: 10px;
  line-height: 1.5;
}

.btn-primary:hover,
.btn-primary:active,
.btn-primary:focus {
  color: #0071aa;
  background-color: #ffffff;
  transition: 0.5s;
}

/*.sticky-inner-wrapper {*/
/*    z-index: 2000 !important;*/
/*}*/
.ant-modal-mask,
.ant-modal-wrap {
  z-index: 3000;
}

.ant-popconfirm {
  z-index: 5000;
}

.ant-btn-lg {
  min-height: 48px;
}

.media-modal {
  width: 80% !important;
}

/** ----------- BACKGROUNDS ----------- **/

.main-background {
  background: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 1),
      rgba(255, 255, 255, 0.3),
      transparent
    ),
    url(/static/images/couch-background.jpg) no-repeat center;
  background-size: cover;
  padding: 3rem 3rem 1rem 3rem;
  height: 600px;
  position: relative;
}

.main-background-property {
  background: linear-gradient(
      to top,
      rgba(0, 0, 0, 0.8),
      transparent,
      rgba(0, 0, 0, 0.4),
      rgba(0, 0, 0, 0.8)
    ),
    url(/static/images/stayinboston.jpg) no-repeat center;
  background-size: cover;
  height: 400px;
}

.main-background-2 {
  background: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 1),
      rgba(255, 255, 255, 0.9),
      rgba(255, 255, 255, 0.4)
    ),
    url(/static/images/boston-2.jpg) no-repeat center;
  background-size: cover;
  height: 220px;
}

.main-background-3 {
  background: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 1),
      rgba(255, 255, 255, 0.8),
      rgba(255, 255, 255, 0.4)
    ),
    url(/static/images/boston-3.jpg) no-repeat center;
  background-size: cover;
  height: 455px;
}

@media (max-width: 992px) {
  .main-background {
    background: linear-gradient(
        to bottom,
        rgba(255, 255, 255, 1),
        rgba(255, 255, 255, 0.8),
        transparent
      ),
      url(/static/images/starsofboston.jpg) no-repeat center;
    background-size: cover;
  }

  .main-background-2 {
    background: linear-gradient(
        to bottom,
        rgba(255, 255, 255, 1),
        rgba(255, 255, 255, 0.8),
        rgba(255, 255, 255, 0.4)
      ),
      url(/static/images/boston-2.jpg) no-repeat center;
    background-size: cover;
  }
}

.d-flex {
  display: flex !important;
}

.h-100 {
  height: 100%;
}

.posts-block {
  padding: 50px 0 100px;
}

.posts-block h2 {
  color: #0071aa;
}

.DayPicker_transitionContainer {
  height: 350px !important;
}

.DayPicker_transitionContainer .booked-date h6 {
  text-decoration: line-through;
}

.SortableHelper {
  z-index: 1000000 !important;
}

.ql-container {
  font-size: 16px !important;
}

.CookieConsent > div:nth-child(1) p {
  margin: 0 auto;
  text-align: center;
  font-size: 16px;
  color: #fff;
}

.CookieConsent .accept-button {
  color: #4e503b;
  font-size: 16px;
}

.CookieConsent .decline-button {
  color: #4e503b;
  font-size: 16px;
}

.sticky_booking {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: 9999;
  padding: 15px 30px;
  background-color: #ffffff;
  box-shadow: 0 1px 4px 1px rgba(0, 0, 0, 0.16);
}

.CalendarDay h6 {
  font-size: 14px !important;
}

.CalendarDay.CalendarDay__today {
  background: #00a699;
}

.crop-modal .ant-modal-body img {
  max-width: 100%;
}

.ant-picker-dropdown-range {
  z-index: 4000;
}
